*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.banner{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(160, 176, 232, 0.75),rgba(58, 34, 49, 0.75)),url(gonder.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.logo{
    width: 120px;
    cursor:pointer;
}
.navbar ul li{
    list-style:none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    justify-content: center;
    color: #fff;
}
.content h1{
    margin:20px auto;
    font-size: 70px;
    line-height: 25px;
}
button{
    width: 200PX;
    padding: 15PX 0;
    text-align: CENTER;
    margin: 20PX 10PX;
    border-radius: 25px;
    font-weight: bold;
    border: 2PX solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow:hidden;
}
SPAN{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition:0.5s;
}
button:hover span{
    width: 100%;
}
button:hover {
    border: none;

}
container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    justify-content: end;
}
.banner{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(81, 67, 235, 0.75),rgba(0,0,0,0.75)),url( gonder.jpg);
    background-size: cover;
    background-position: center;}


.gallery{
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
      }
      
.gallery:hover {
        border: 1px solid #777;
      }
      
.gallery img {
        width: 100%;
        height: auto;
      }
      
.desc {
        padding: 15px;
        text-align: center;
        color:white;
      }
  
  
.column {
    float: left;
    width: 50%;
    margin-left: auto;
    padding: 15px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.place{
    padding: 15px;
    text-align: center;
    color:white;

}

.list{
    width: 100%;
    list-style:none;
    display: inline-block;
    text-align: center;
    position: absolute;
    justify-content: center;
}






